.backgroud{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/logo_fundacion_white.webp');
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-position: center; 
  background-repeat: no-repeat; 
  z-index: -2;
  opacity: 0.06;
}


  